<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >

<!--    <test name="IETestCases">-->

<!--        <parameter name="browser" value="ie"/>-->

<!--        <classes>-->

<!--            <class name ="com.romanceabroad.ui.MainPageTests"/>-->

<!--        </classes>-->

<!--    </test>-->

<!--    <test name="FirefoxTestCases">-->

<!--        <parameter name="browser" value="firefox"/>-->

<!--        <classes>-->

<!--            <class name ="com.romanceabroad.ui.MainPageTests"/>-->

<!--        </classes>-->

<!--    </test>-->

<!--    <test name="ChromeTestCases">-->

<!--        <parameter name="browser" value="chrome"/>-->

<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="chrome"/>-->
<!--                <include name="user"/>-->
<!--                <include name="admin"/>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name ="com.romanceabroad.ui.PrettyWomenTests">-->
<!--                <methods>-->
<!--                    <exclude name=".*Web.*"/>-->
<!--                    <include name=".*Test.*"/>-->
<!--                    <include name=".*List.*"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->

<!--    </test>-->

    <test name="ChromeTestCases2">

        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="com.romanceabroad.ui.MainPageTests"/>
            <class name="com.romanceabroad.ui.ProfileTest"/>
            <class name="com.romanceabroad.ui.PrettyWomenTests"/>
            <class name="com.romanceabroad.ui.PhotosTests"/>
            <class name="com.romanceabroad.ui.HowWeWorkTest"/>
            <class name="com.romanceabroad.ui.HowWeWorkTest"/>
            <class name="com.romanceabroad.ui.GiftTests"/>
            <class name="com.romanceabroad.ui.ContactUsTest"/>
            <class name="com.romanceabroad.ui.BlogTest"/>

        </classes>

    </test>

</suite>